<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- You can set your favicon here -->
<link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!-- Primary Meta Tags -->
<title>CELERITY | Startup Accelerator</title>
<meta name="title" content="CELERITY | Startup Accelerator">
<meta name="description" content="Startup Accelerator">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://celerityventures.github.io/">
<meta property="og:title" content="CELERITY | Startup Accelerator">
<meta property="og:description" content="Startup Accelerator">
<meta property="og:image" content="/celeritylogo2.jpg">

<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="CELERITY | Startup Accelerator">
<meta property="twitter:image" content="/celeritylogo.jpg">
<!-- end custom head snippets -->
